- issuable = local_assigns.fetch(:issuable)

- return unless issuable.is_a?(MergeRequest)
- return if issuable.closed_without_fork?

- if issuable.can_remove_source_branch?(current_user)
  .form-group.row
    .col-sm-10.offset-sm-2
      .form-check
        = label_tag 'merge_request[force_remove_source_branch]' do
          = hidden_field_tag 'merge_request[force_remove_source_branch]', '0', id: nil
          = check_box_tag 'merge_request[force_remove_source_branch]', '1', issuable.force_remove_source_branch?
          Remove source branch when merge request is accepted.

= render 'shared/issuable/form/ee/squash_merge_param', issuable: issuable
